/* App.css */

/* Body styling */

body {
  background-color: #f8f9fa;
  font-family: "Arial", sans-serif;
}

/* Product List Styling */

h1 {
  margin-bottom: 30px;
  color: #343a40;
}

.card {
  border: none;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  color: #007bff;
}

.card-text {
  font-size: 1.1rem;
  color: #6c757d;
}

.card img {
  height: 300px;
  object-fit: cover;
}

/* Button Styling */

.btn-primary {
  background-color: #007bff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Cart Modal Styling */

.modal-content {
  border-radius: 10px;
  width: 550px;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group {
  width: 120px;
}

.input-group .form-control {
  text-align: center;
}

.modal-footer {
  justify-content: space-between;
}

.modal-footer .btn-secondary {
  background-color: #6c757d;
  border: none;
}

.modal-footer .btn-secondary:hover {
  background-color: #5a6268;
}

.header-navbar {
  padding: 10px 20px;
}

.header-navbar .navbar-brand img {
  margin-right: auto;
  border-radius: 4px;
}
